.titleimg
{
    height: 50px;
}
#logo
{
    background-color: #737373;
    padding:2% 2%;
}
.col-lg-6
{
    margin-left: 285px;
    padding-left:3%;
    padding-top:2%;
    text-align: center;


}
.comp1
{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #737373;
    text-align: center;
    font-family:Arial;
    
}
.col-md-auto
{
    margin:auto;
}
#bodystyles1
{
    background-color:grey;
}

#models
{
    background-color:silver;
    margin-top: 20px;
}
.link123
{
    background-color:#8A8AFF;
    padding: 1% 4%;
}